extends layout
block content
  header
    h1 hello world
    script(type="text/x-handlebars")
      {{FernsWorld.name}}

  #main

  footer

  //- script(type="text/x-handlebars")
  //-   {{#view FernsWorld.individual}}
  //-   h1 Hello world!
  //-   {{/view}}


block scripts
  script(data-main="/src/config", src="/assets/js/require.js")